.container {
    display: flex;
    box-shadow: lightpink;
    border-radius: 5px;
    transition: all 0.2 ease;
}

.container:hover {
    background-color: var(--card);
}

.container:hover svg {
    transform: translate(5px, -5px);
}

.container h2 {
    font-size: 1.2rem;
}

.container h3 {
    font-size: 0.9rem;
}

.content {
    display: flex;
    flex-grow: 1;
    margin: 20px;
    gap: 20px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.right {
    flex: 4;
}

.right .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right .title svg {
    transition: transform 0.3s ease;
}

.right h4 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: .875rem;
    color: var(--paragraph);
    line-height: 1.353;
    letter-spacing: 1.1px;
    font-weight: normal;
}

.right .brand{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

@media (max-width: 800px) {
    .left {
        display: none;
    }
}
