.container {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

.content {
  width: 1600px;
  padding: 0px 6rem;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.return {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.return svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.return:hover svg {
  transform: rotate(180deg) translateX(10px);
}

.error {
  margin: 3rem;
  width: 100%;
  text-align: center;
}

.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.brandProjects {
  flex: 1;
  width: 300px;

}

@media (max-width: 1174px) {
  .container {
    padding-top: 4rem;
  }

  .content h1 {
    font-size: 1.25rem
  }

  .content {
    padding: 0px 4rem;
  }
}


@media (max-width: 469px) {
  .container {
    padding-top: 2rem;
  }

  .content {
    padding: 0px 2rem;
  }
}