.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loader 5s ease;
    opacity: 0;
}

@keyframes loader {
    0% {opacity: 0; transform: scale(0.5); opacity: 0;}
    75% {opacity: 0.75; transform: scale(1.5); opacity: 1;}
    100% {opacity: 0; transform: scale(0); opacity: 0;}
}


@media (max-width: 1174px) {
    /* font-size: 2.25rem */
    .container h1 {
      font-size: 1.25rem
    }
  }