:root {
  --main: rgb(226 232 240);
  --green: #10b981;
  --paragraph: #94A3B8;
  --bg: rgb(15 23 42/1);
  --link: #64748b;
  --card: rgba(148, 163, 184, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  /* overflow-y: hidden; */
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font-inter);
}

a {
  position: relative;
  left: 0;
  color: var(--link);
  text-decoration: none;
  font-weight: 700;
  transition: left 0.1s ease;
}

span {
  color: var(--green);
  font-weight: bold;
}

h1 {
  color: var(--main);
  font-size: 3rem;
  letter-spacing: -.025em;
  font-weight: 700;
}

h2 {
  color: var(--green);
}


h5 {
  color: rgb(148 163 184/1);
}

p {
  color: var(--paragraph);
  line-height: 1.625;
  letter-spacing: 1.3px;
}

img {
  cursor: help;
}

section {
  margin: 0 auto;
  width: 75%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

svg {
  width: 25px;
  height: 25px;
  fill: var(--link);
  cursor: pointer;
}

svg:hover {
  fill: var(--main);
}

.active {
  left: 20px;
  color: var(--main);
}

table {
  margin-top: 3rem;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid var(--link);
  padding: 10px;
  text-align: left;
  font-weight: 600;
}

th:first-child,
th:nth-child(4) {
  width: 8%;
}

th:nth-child(2),
th:nth-child(3) {
  width: 42%;
}

th {
  height: 4rem;
  color: var(--main);
  background-color: var(--card);
}

td:first-child,
td:nth-child(4) {
  color: var(--link);
}

td:nth-child(2) {
  color: var(--main);
}