.content {
    min-width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--card);
    border-radius: 5px;
}

.header div {
    cursor: pointer;
}

.header p {
    font-size: 1rem;
    font-weight: bold;
}

.header .active p {
    color: var(--green);
}


@media (max-width: 800px) {
    .header p {
      font-size: 0.8rem;
    }
  }